
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js" ></script>

  <script src="/js/datatables.min.js"></script>

 
 <script>

   $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  });
  
    $('.mydatatable').DataTable({
        "pagingType": "simple_numbers"
    });
   </script>

</body>
</html>