
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js" ></script>
 <script src="/js/Chart.min.js"></script>

  <script src="/js/datatables.min.js"></script>
  <script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>
 
 <script>

   $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  });
  
    $('.mydatatable').DataTable({
        "pagingType": "simple_numbers"
    });

$('.datepicker').datepicker()



   </script>

</body>
</html>