



<!DOCTYPE html>
<html>
    <head>
        <title>Examination Management</title>
        
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
       
            <link rel="stylesheet" href="/stylesheets/form-auth.css" >


        </head>
        <body>


             

   <div class="login-page">
  <div class="form">
    
    <form class="login-form action="/register" method="POST"">
  <input type="text"   id="username" name="username" placeholder="username">
          <input type="password"   id="password" name="password" placeholder="password">
      <button>Register</button>
       <p class="message">Already registered? <a href="/login">Sign In</a></p>
    </form>
  </div>
</div>





</body>
</html>