<% include ./partials/header %>
<h1></h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
<div class="card" style="width: 18rem;">
  <img src="https://via.placeholder.com/100x70" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= student.name %></h5>
    <p class="card-text"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Roll Number - <%= student.roll_no %></li>
    <li class="list-group-item">Branch - <%= student.branch %></li>
    <li class="list-group-item">DMC taken - <%= student.DMC %></li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Edit</a>
    <a href="#" class="card-link">Delete</a>
  </div>
</div>
</div>
<div class="col-9">
<h3>Performance Semester Wise</h3>
<table class="table" id="performance">
<thead>
  <tr>
    <th scope="col">Semester</th>
    <th scope="col">Marks obtained</th>
    <th scope="col">Reappear</th>
    <th scope="col">DMC Taken</th>
    <th scope="col">Updated On</th>
    <th scope="col">More Information</th>

  </tr>
  </div>
  </div>
</div>


<% include ./partials/footer %>