<% include ../partials/header %>



<div class="container">

<ul class="landing-main">

<li>
<div class="card card-landing">
  <img class="card-img-top" src="images/cse.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Computer Science & Engineering</p>
  </div>
</div>
</li>

<li>
<div class="card card-landing">
  <img class="card-img-top" src="images/ce.JPG" alt="Card image cap">
  <div class="card-body">
    <p class="card-text"> Civil Engineering</p>
  </div>
</div>
</li>

<li>
<div class="card card-landing">
  <img class="card-img-top" src="images/me.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Mechanical Engineering</p>
  </div>
</div>
</li>

<li>
<div class="card card-landing">
  <img class="card-img-top" src="images/eee.JPG" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Electrical & Electronic Engineering</p>
  </div>
</div>
</li>

<li>
<div class="card card-landing">
  <img class="card-img-top" src="images/ece.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Electronics And Communication Engineering</p>
  </div>
</div>
</li>



</ul>

</div>
<% include ../partials/footer %>

