
.container {
    padding-top: 50px;
}

form {
width: 30%;
margin: 50px auto;
}

.card {
    width: 30%;

}

.detail {
    display: grid;
    
    list-style: none;
    grid-gap: 20px;
    padding: 0;
}

.card-landing{
    width: 20em;

}



.landing-main{
  list-style: none;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-gap: 20px;
}


